// Fontawesome
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

@import '~overlayscrollbars/css/OverlayScrollbars.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';

@import 'custom';